body{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
#tverde{
    font-weight:500;
}
.imgcupponb{
    width: 82px;
    height: 24px;
}
.imgcupponw{
    width: 86px;
    height: 20px;;
}